node_modules
.next
dist
build
.git
npm-debug.log
Dockerfile
docker-compose.yml
upload-storage
.next
node_modules
dist
build
npm-debug.log
.env
.env.local
.env.development
.DS_Store
coverage
**/.next/*
**/node_modules/*
